@page
@model WebApp.Pages.Tasks.Index
@{

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>

<body class="Index">
    <h2>All Tasks:</h2>
    <a class='btn btn-success btn-sm' href="/Tasks/Create">New</a>
    <ul class="accordion">
        @foreach (var item in Model.taskList)
        {
            <li>
                <input type="radio" name="accordion" id="@item.taskId">
                <label for="@item.taskId" class="IndexLabel">
                    <h3 class="TaskBody">@item.taskBody</h3>
                    <div class="TaskButtons">
                        <a class="btn btn-primary btn-sm" id="task" href="/Tasks/Edit?id=@item.taskId">Edit</a>
                        <a class="btn btn-danger btn-sm" id="task" href="/Tasks/Delete?id=@item.taskId">Delete</a>
                    </div>
                </label>
                <div class="content">
                    <p>@item.taskDescription</p>
                </div>
            </li>
        }
    </ul>
</body>

</html>