* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

.Index {
  background: white;
}

.accordion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 600px;
}

.accordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

.IndexLabel {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.accordion li:hover {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.accordion li:active {
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: 0.1;
}

.IndexLabel::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
  transition: 0.5s;
}

input[type="radio"] {
  display: none;
}

.content {
  color: blue;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + .IndexLabel + .content {
  max-height: 400px;
  padding: 10px 10px 0px;
}

.accordion input[type="radio"]:checked + .IndexLabel::before {
  content: "-";
  transition: 0.5s;
}

.TaskButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: auto;
}

.TaskBody {
  max-width: 75%;
}

.date-container {
  border-top: gray dashed;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-top: 10%;
}

.date-container #created-on {
  padding: 0;
  margin: 0;
  width: 25%;
  box-shadow: none;
}

.date-container #edited-on {
  padding: 0;
  margin: 0;
  width: 25%;
  box-shadow: none;
  text-align: end;
}
